
table {
	border: 1px solid #444444;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #444444;
	padding: 10px;
}

td.username {
	width: 30%;
}

td.enc_userid {
	width: 30%;
}

td.memo {
	width: 36%;
}

input {
	width: 100%;
}

input.readonly.inputtext {
	border: 0px;
}

button#submit {
	float: right;
	width: 100px;
	height: 50px;
	text-align: center;
}
